:root {
    --cor-principal: #000;
    --cor-secundaria: #5611b5; 
    --cor-terciaria : #f6f6f6;
    --cor-quartenaria: #0cf574;
    --cor-hover: #0cf5753f;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}



* {
    margin: 0px;
}


#logo {
    width: 9.375rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 10% 0% 3%;
}

.navegacao {
    display: flex;
    gap: 1.25rem;
}

.nav {
    font-family: var(--fonte-primaria);
    font: 1rem;
    color: var(--cor-quartenaria);
    text-decoration: none;
    
    
} 

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    justify-content: space-between;
    align-items: center;
}

.dtq {
    color: var(--cor-quartenaria);

}

.apresentacao {
    padding: 2% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 0;


}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

}

.apresentacao__imagem {
    height: 50%;
}

.titulo {
    font-size: 2.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    font-size: 1.625rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
 

}

.apresetacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid 0.125rem var(--cor-quartenaria);
    border-radius: 1rem;
    width: 50%;
    text-align: center;
    color: var(--cor-terciaria);
    margin: 0.937rem;
    padding: 1.343rem;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.link:hover {
    background-color: var(--cor-hover);
}

.icon {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--cor-terciaria);
    width: 5rem;
    height: 5rem;
}

/* página 2 daqui para baixo*/
.logo__colorida {
    max-height: 31.25rem;
    height: 50%;
    padding: 0.25rem;
    border: solid 0.125rem var(--cor-quartenaria);
    border-radius: 1rem;
}

.conteudo__about {
    padding: 2% 10%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 3.125rem;


}

    

.conteudo__about__bloco {
    
    width:  50%;
    height: auto;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
}

.conteudo__about__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-bottom: 1.875rem;
    color: var(--cor-quartenaria);
}

.conteudo__about__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.375rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.creditos {
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 0.875rem;
    background-color: var(--cor-secundaria);
    padding: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
    padding: 10%;
    }
    .navegacao {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        width: auto;
        padding: 5%;
        align-items: center;
    }
    .conteudo__about__bloco {
        width: auto;
        padding: 5%;
    }
}